/* zocial */
.zocial-github {
  font-family: 'zocial', sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
}

header {
    border-bottom: 5px solid #00f;
    display: flex;
    flex-wrap: wrap;
}

.header-box {
    width: calc((100% - 40px)/2);
    margin-bottom: 20px;
}

.title-box {
    margin-right: 40px;
}

.udacity-logo {
    vertical-align: middle;
    width: 90%;
}

/* Helper span class that centers an image vertically */
.img-helper {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

h1 {
    font-size: 3em;
    margin: 0;
}

.banner {
    width: 60%;
    margin: 40px auto;
    display: block;
}

.infosys-logo {
    width: 100%;
}

h2 {
    font-size: 2.25em;
}

.work {
    width: calc((100% - 28px)/3);
    margin: 20px 10px 0 0;
    text-align: center;
    font-size: 1.5em;
}

.work:last-of-type {
    margin-right: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.8;
}

section {
    margin-top: 20px;
}

article {
    width: 85%;
    margin: 20px auto;

}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.work-img {
    object-fit: cover;
    width: 90%;
    border-radius: 90%;
    border: 2px solid royalblue;
}

hr {
    display: none;
}

/* Media queries */

@media screen and (max-width: 530px) {
    .work {
        width: 100%;
        margin-right: 20px 10px 0 0;
    }

    hr {
        display: block;
        background-color: lightgray;
        width: 70%;
        margin: 20px auto;
    }

    h2 {
        font-size: 1.75em;
    }

    .header-box {
        width: 100%;
    }

    article {
        width: 100%;
    }

    body {
        width: 90%;
    }
}

@media screen and (min-width: 531px) and (max-width: 800px) {

    .work {
        width: calc((100% - 24px) / 2);
    }

    article {
        width: 100%;
    }

    .work:last-of-type {
        margin: 0 auto;
    }
}
